<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://devcamp-b2c-api-connectors.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/411fb15e-ad5e-442d-8969-332559b43955/resourceGroups/power-bi-dev-camp-auth/providers/Microsoft.Web/sites/DevCamp-B2C-API-Connectors</ResourceId>
    <UserName>$DevCamp-B2C-API-Connectors</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://devcamp-b2c-api-connectors.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>